body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 3px solid #eaf6f6;
    padding: 5px;
    background-color: #f9f9f9;
}

.label {
    color: #66bfbf;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #eaf6f6;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px;
    margin: 10px 15px 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: #038c5b;
}

.input {
    margin: 10px 0 15px 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}